header{
    width: 99%;
    height: 200px;
    display: flex;
}
nav{
    width: 370px;
    height: 50px;
    margin: 0px;
    margin-left: 250px;
    display: flex;
    align-items: center;
}
a{
    text-decoration: none; /*usamos para remover o sublinhado do texto*/
    font-family: Arial, Helvetica, sans-serif; /*usamos para escolher o tipo de fonte que será usado*/
    color: black; /*usamos para definir a cor da fonte*/
    font-size: 1em; /*usamos para definir o tamanho da fonte*/
    font-weight: bold; /*usamos para deixar a fonte em negrito*/
    border: solid 1px gray;
    padding: 10px;
    background-color: rgb(188, 191, 192);
}

#primeiroa{
    border-radius: 10px 0px 0px 10px;
}

#ultimoa{
    border-radius: 0px 10px 10px 0px;
}

hr{
    height: 3px;
    background-color: rgb(94, 233, 186);
    border: none;
}

#djrc{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(59, 59, 59);
    margin-left: 720px;
}

h1{
    text-align: center;
    font-size: 3.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section{
    width: 99.5%;
    height: 550px;
    display: flex;
}

.conteudo{
    padding: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3em;
    text-align: justify;
    text-indent: 5px;

}

#esquerda{
    border-right: solid 2px black;
    height: 450px;
}

#direita{
    border: solid 1px black;
    height: 500px;
    background-color: greenyellow;
    margin-left: 56px;
}

footer{
    background-color: green;
    border: solid 1px black;
    padding: 0px;
    margin-top: 32px;
    text-align: center;
}